<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="public/css/semantic.css">
  <style type="text/css">
  </style>
</head>
<body>
  <div class="ui menu">
    <a class="active item">
      <i class="user icon"></i> Home
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui divided grid">
    <div class="column four wide">
      <div class="ui segment"> <div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="/images/demo/avatar.jpg">
    </a>
    <div class="content">
      <a class="author">Dog Doggington</a>
      <div class="text">
        I think this is a great idea and i am voting on it
      </div>
    </div>
  </div>
</div></div>
    </div>
    <div class="column ten wide">
      <div class="ui segment">
      <p>Validation messages use <a href="/collections/message.html">messages</a> which are formatted for use inside forms.</p>

<div class="ui form segment">
  <div class="field">
    <label>Username</label>
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Username">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui left labeled icon input">
      <input type="password">
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="ui blue submit button">Login</div>
</div>
       </div>
    </div>
    <div class="column two wide">
      <div class="ui segment"> </div>
    </div>
  </div>

  <h4>Feed</h4>
<div class="ui piled feed segment">
  <h2 class="ui header">
    Recent Activity
  </h2>
  <div class="event">
    <div class="label">
      <img src="/images/demo/avatar2.jpg">
    </div>
    <div class="content">
      <div class="date">
        Just moments ago
      </div>
      <div class="summary">
         <a>Sally Poodle</a> added you as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="circular pencil icon"></i>
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
        You submitted a new post to the page
      </div>
      <div class="extra text">
        I am a dog and I do not know how to make a post
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="circular photo icon"></i>
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
        <a>Sally Poodle</a> added <a>2 new photos</a> of you
      </div>
      <div class="extra images">
        <img src="/images/demo/item1.jpg">
        <img src="/images/demo/item2.jpg">
      </div>
    </div>
  </div>
</div>
</body>
</html>