<!DOCTYPE html>

<html>
<head>
	<title>WDI Network - Profile</title>
	<link rel="stylesheet" type="text/css" href="/public/semantic.css">
</head>

<body>
	<h1>Welcome Back, current user</h1>

	<h2>Your Posts:</h2>
	<% own_posts.reverse_each do |post| %>
	<p><%= post.content %> - <%= post.timestamp %></p>
	<% end %>

	<form action="/post" method="POST">
		<textarea rows="2" cols="40" name="content" placeholder="Comment here..."></textarea>
		<input type="submit" value="Submit">
	</form>

	<h2>Your Connections and Their Most Recent Posts:</h2>


</body>

</html>